<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fauget Store</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/titleicon1.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/CSS/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
        <%- include('../userLayouts/userHeader') %>
        

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/CSS/sb-admin-2.css" rel="stylesheet">

  <!-- Page Wrapper -->
    <div class="container-fluid bg-white">

       
        <!-- Content Wrapper -->
        <div class="container p-5 mt-0 mb-4" style="background-color: rgb(127, 127, 131);border-radius: 5px;">

            
            <div class="container">
                <h5 class="text-center text-white"><i class="fa fa-user"></i> RESET PASSWORD</h5>
                <form action="/resetPassword" method="post" onsubmit="return newUserValidation()">
                
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-6">
                            <input type="email" name="email" required class="form-control" placeholder="Enter Email" id="email" value="<%= user.email%>" id="email">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-6">
                            <input type="password" name="password" required class="form-control"  placeholder="Enter your Previous Password">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-6">
                            <input type="password" name="newpassword" required class="form-control"  placeholder="Enter New Password">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-warning text-black">Reset Password</button>
                        </div>
                    </div>
                </form>
            </div>
            
            
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <%- include('../userLayouts/footer') %>
    <div id="popup-container" class="popup-container">
        <div class="popup">
          <span id="success-message"></span>
          <button id="close-popup">Close</button>
        </div>
      </div>
      <script>
        function newUserValidation() {
        const email = document.getElementById('email').value;
        
        const phone = document.getElementById('phone').value;
      
        const emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}$/i;
        
        const phoneRegex = /^\d{10}$/;
      
        if (!email.match(emailRegex)) {
          alert("Email not valid");
          return false;
        } else if (!phone.match(phoneRegex)) {
          alert("Phone number must be 10 digits");
          return false;
        } else if (/^0+$/.test(phone)) {
          alert("Phone number cannot be all zeros");
          return false;
        } else {
          return true;
        }
      }
      
       </script>
     